<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Triângulo Retângulo - WebQuest</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="can.jquery.js"></script>
</head>

<body style="background-color: #fffffa;" onload="load()">
	<div class="container">
	  <div class="row">
		<div class="col-sm-12">
		  <div class="page-header text-center">
		    <h2><em>Triângulo Retângulo</em></h2>
		  </div>
		</div>
	  </div>

	  <div class="row">	    
	 
		<div id="menu" class="col-sm-12" style="margin-bottom: 10px">
		  <ul class="nav nav-pills nav-justified">
		  	<li><a href="introducao">INTRODUÇÃO</a></li>
		    <li><a href="tarefas">TAREFAS</a></li>
		    <li><a href="processo">PROCESSO</a></li>
		    <li class="active"><a href="#">AVALIAÇÃO</a></li>
		    <li><a href="conclusao">CONCLUSÃO</a></li>
		  </ul>		
		</div>

		<div id="conteudo" class="col-sm-12">
		    <div class="col-sm-offset-1 col-sm-11">
			 	<h3>AVALIAÇÃO</h3>
			 	<br/>
			 	<ol>
			 		<li>Sabendo que o lado <em>a</em> do retângulo a seguir em comprimento igual a 5 metros e o lado <em>b</em> tem comprimento igual a 3 metros, calcule o comprimento da diagonal <em>d</em> e a área formada pelo triângulo cujos vértices são o <em>centro do retângulo</em>, <em>A</em> e <em>B</em>.
			 		<br/><br/>
			 		<img id="imgTrianguloRetanguloAvaliacao1" src="area_triangulo_retangulo.png" class="img-responsive center-block img-thumbnail">
			 		<div class="text-center"><strong>Figura 6:</strong> Retângulo do item 1 da Avaliação</div>
			 		</li>
			 		<br/>

			 		<li>Um determinado park aquático resolveu inaugurar um novo tubo-água. Ele é reto, tem 30 metros de extensão e forma um ângulo de 30º com o solo. Com isso, qual deve ser a altura da torre que as pessoas irão subir para descer no novo tubo-água?</li>
			 		<br/>

			 		<li>Considerando que os Catetos do triângulo inscrito no círculo possuem comprimento igual ao raio do círculo, calcule a área total aproximada do círculo:
			 		<br/><br/>
			 		<img id="imgTrianguloRetanguloAvaliacao3" src="triangulo_retangulo_inscrito_circulo.png" class="img-responsive center-block img-thumbnail">
			 		<div class="text-center"><strong>Figura 7:</strong> Círculo com Triângulo Retângulo inscrito do item 3 da Avaliação</div>
			 		</li>
			 	</ol>
			 	</br>			 	
			</div>
		</div>			

	</div>

</body>

</html>