<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Triângulo Retângulo - WebQuest</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="can.jquery.js"></script>
</head>

<body style="background-color: #fffffa;" onload="load()">
	<div class="container">
	  <div class="row">
		<div class="col-sm-12">
		  <div class="page-header text-center">
		    <h2><em>Triângulo Retângulo</em></h2>
		  </div>
		</div>
	  </div>

	  <div class="row">	    
	 
		<div id="menu" class="col-sm-12" style="margin-bottom: 10px">
		  <ul class="nav nav-pills nav-justified">
		  	<li><a href="introducao">INTRODUÇÃO</a></li>
		    <li><a href="tarefas">TAREFAS</a></li>
		    <li><a href="processo">PROCESSO</a></li>
		    <li><a href="avaliacao">AVALIAÇÃO</a></li>
		    <li class="active"><a href="#">CONCLUSÃO</a></li>
		  </ul>		
		</div>

		<div id="conteudo" class="col-sm-12">
		    <div class="col-sm-offset-1 col-sm-11">
			 	<h3>CONCLUSÃO</h3>
			 	<br/>
			 	<p>Este WebQuest buscou apresentar as características e as relações matemáticas existentes em um Triângulo Retângulo.</p>
			 	</p>Espera-se que aqui, fim do WebQuest, o estudante saiba identificar um Triângulo do tipo Retângulo e consiga realizar o cálculo da área do mesmo, aplicar o Teorema de Pitágoras e utilizar as relações trigonométricas intrínsecas a este tipo de triângulo.<p>
			 	<br/>			

			 	<p class="text-left"><strong>FONTE:</strong></p>
			 	<p class="text-left">WIKIPEDIA. Triângulo Retângulo. Disponível em: < <a href="https://pt.wikipedia.org/wiki/Tri%C3%A2ngulo_ret%C3%A2ngulo" target="_blank">https://pt.wikipedia.org/wiki/Triângulo_retângulo</a> >. Acesso em 05 jun. 2016</p>
			 	<p class="text-left">WIKIPEDIA. Teorema de Pitágoras. Disponível em: < <a href="https://pt.wikipedia.org/wiki/Teorema_de_Pit%C3%A1goras" target="_blank">https://pt.wikipedia.org/wiki/Teorema_de_Pitágoras</a> > Acesso em 05 jun. 2016</p>
			 	<br/>

			 	<p class="text-right"><strong>AUTOR:</strong></p>
			 	<p class="text-right">Wallison Félix</p>
			 	<p class="text-right">Mestrando em Ciências da Computação - IFCE</p>
			 	<br/>
			</div>
		</div>			

	</div>

</body>

</html>