<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Triângulo Retângulo - WebQuest</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="can.jquery.js"></script>
</head>

<body style="background-color: #fffffa;" onload="load()">
	<div class="container">
	  <div class="row">
		<div class="col-sm-12">
		  <div class="page-header text-center">
		    <h2><em>Triângulo Retângulo</em></h2>
		  </div>
		</div>
	  </div>

	  <div class="row">	    
	 
		<div id="menu" class="col-sm-12" style="margin-bottom: 10px">
		  <ul class="nav nav-pills nav-justified">
		  	<li class="active"><a href="#">INTRODUÇÃO</a></li>
		    <li><a href="tarefas">TAREFAS</a></li>
		    <li><a href="processo">PROCESSO</a></li>
		    <li><a href="avaliacao">AVALIAÇÃO</a></li>
		    <li><a href="conclusao">CONCLUSÃO</a></li>
		  </ul>		
		</div>

		<div id="conteudo" class="col-sm-12">
		    <div class="col-sm-offset-1 col-sm-11">
			 	<h3>TRIÂNGULO RETÂNGULO</h3>
			 	<br/>
			 	<p>O Triângulo Retângulo é um triângulo que possui um ângulo reto, ou seja, de 90º, e os outros dois são ângulos agudos, ou seja, menores do que 90º.</p>
			 	<br/>
			 	<img id="imgTrianguloRetangulo" src="triangulo_retangulo.png" class="img-responsive center-block img-thumbnail">
			 	<div class="text-center"><strong>Figura 1:</strong> Triângulo Retângulo</div>
			 	<br/>
			 	<p>Ele é uma figura geométrica muito usada na matemática, no cálculo de áreas, volumes e no cálculo algébrico.<p>
			 	<br/>

			 	<h3>ELEMENTOS</h3>
			 	<br/>
			 	<p>Um triângulo retângulo é composto por quatro elementos:</p>
			 	<ul class="list-group">
				  <li class="list-group-item"><strong>Catetos</strong> – lados opostos aos ângulos agudos e que, ao se encontrarem, formam o ângulo reto;</li>
				  <li class="list-group-item"><strong>Hipotenusa</strong> – lado aposto ao ângulo reto. Maior dos lados do triângulo;</li>
				  <li class="list-group-item"><strong>Altura Relativa à Hipotenusa</strong> – menor reta formada do ponto em que se forma o ângulo reto até a Hipotenusa;</li>
				  <li class="list-group-item"><strong>Projeções dos Catetos</strong> – divisões da Hipotenusa em relação a Altura Relativa à Hipotenusa;</li>
				</ul>
				<br/>	 	
			 	<img id="imgElementosTrianguloRetangulo" src="elementos_triangulo_retangulo.png" class="img-responsive center-block img-thumbnail">
			 	<div class="text-center"><strong>Figura 2:</strong> Triângulo Retângulo com a especificação de cada elemento que o compõe</div>
			 	<br/>

			 	<h3>ÁREA</h3>
			 	<br/>
			 	<p>A área de um triângulo desse tipo é dada pela metade do produto dos catetos: <strong><em>(a x b) / 2</em></strong></p>			 	
				<br/>	 	
			 	<img id="imgAreaTrianguloRetangulo" src="area_triangulo_retangulo.png" class="img-responsive center-block img-thumbnail">
			 	<div class="text-center"><strong>Figura 3:</strong> Exemplo de área de Triângulo Retângulo a partir de um Retângulo</div>
			 	<br/>			 	

			 	<h3>TEOREMA DE PITÁGORAS</h3>
			 	<br/>
			 	<p>Uma relação matemática entre os comprimentos dos lados de qualquer Triângulo Retângulo diz que:</p>
			 	<p class="text-right"><em>“O quadrado do comprimento da Hipotenusa é igual à soma dos quadrados dos comprimentos dos catetos”</em></p>
			 	<p>Ou seja:</p>
				<br/>	 	
			 	<img id="imgTeoremaPitagoras" src="teorema_pitagoras.png" class="img-responsive center-block img-thumbnail">			 	
			 	<br/>
			 	<p>Onde <em>c</em> representa o comprimento da Hipotenusa, e <em>a</em> e <em>b</em> representam os comprimentos dos outros dois lados.</p>
			 	<p>A relação também pode ser vista a partir de áreas:</p>
			 	<p class="text-right"><em>“A área do quadrado cujo lado é a Hipotenusa é igual à soma das áreas dos quadrados cujo lados são os catetos”</em></p>
			 	<br/>	 	
			 	<img id="imgTeoremaPitagorasPorQuadrados" src="teorema_pitagoras_por_quadrados.png" class="img-responsive center-block img-thumbnail">
			 	<div class="text-center"><strong>Figura 4:</strong> Exemplo das áreas formadas de quadrados cujos lados são os lados do Triângulo Retângulo</div>
			 	<br/>
			</div>			    
		</div>			

	</div>

</body>

</html>