<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Triângulo Retângulo - WebQuest</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="can.jquery.js"></script>
</head>

<body style="background-color: #fffffa;" onload="load()">
	<div class="container">
	  <div class="row">
		<div class="col-sm-12">
		  <div class="page-header text-center">
		    <h2><em>Triângulo Retângulo</em></h2>
		  </div>
		</div>
	  </div>

	  <div class="row">	    
	 
		<div id="menu" class="col-sm-12" style="margin-bottom: 10px">
		  <ul class="nav nav-pills nav-justified">
		  	<li><a href="introducao">INTRODUÇÃO</a></li>
		    <li><a href="tarefas">TAREFAS</a></li>
		    <li class="active"><a href="#">PROCESSO</a></li>
		    <li><a href="avaliacao">AVALIAÇÃO</a></li>
		    <li><a href="conclusao">CONCLUSÃO</a></li>
		  </ul>		
		</div>

		<div id="conteudo" class="col-sm-12">
			<div class="col-sm-offset-1 col-sm-11">
			    <h3>PROCESSO</h3>
			 	<br/>
			 	<p>Para a realização da Tarefa solicitada, o estudante deve se seguir as seguintes etapas:</p>
			 	<ul class="list-group">
				  <li class="list-group-item">1. Pesquisar sobre as Relações Trigonométricas do Triângulo Retângulo, focando nas relações de <em>Seno</em>, <em>Cosseno</em> e <em>Tangente</em>;</li>
				  <li class="list-group-item">2. A partir da pesquisa realizada, calcule o comprimento da Hipotenusa <em>H</em> por meio da relação entre o Cateto <em>b</em> e o ângulo do vértice <em>B</em>;</li>
				  <li class="list-group-item">3. Utilizando o Teorema de Pitágoras, calcule o comprimento do Cateto <em>b</em>;</li>
				  <li class="list-group-item">4. Calcule o comprimento da Projeção do Cateto <em>n</em>, por meio da relação existente entre a Hipotenusa do triângulo menor(Cateto <em>c</em>) e o ângulo do vértice <em>B</em>;</li>
				  <li class="list-group-item">5. A partir do comprimento de <em>n</em> e de <em>H</em>, estabeleça o valor de <em>m</em>;</li>
				  <li class="list-group-item">6. Por fim, calcule o último comprimento desconhecido, o da Altura Relativa à Hipotenusa <em>h</em> a partir de qualquer Relação Trigonométrica com os ângulos já identificados;</li>
				</ul>	
				<br/>		
			</div>				
		</div>			

	</div>

</body>

</html>