<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Triângulo Retângulo - WebQuest</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="can.jquery.js"></script>
</head>

<body style="background-color: #fffffa;" onload="load()">
	<div class="container">
	  <div class="row">
		<div class="col-sm-12">
		  <div class="page-header text-center">
		    <h2><em>Triângulo Retângulo</em></h2>
		  </div>
		</div>
	  </div>

	  <div class="row">	    
	 
		<div id="menu" class="col-sm-12" style="margin-bottom: 10px">
		  <ul class="nav nav-pills nav-justified">
		  	<li><a href="introducao">INTRODUÇÃO</a></li>
		    <li class="active"><a href="#">TAREFAS</a></li>
		    <li><a href="processo">PROCESSO</a></li>
		    <li><a href="avaliacao">AVALIAÇÃO</a></li>
		    <li><a href="conclusao">CONCLUSÃO</a></li>
		  </ul>		
		</div>

		<div id="conteudo" class="col-sm-12">
		    <div class="col-sm-offset-1 col-sm-11">
			 	<h3>TAREFAS</h3>
			 	<br/>
			 	<p>Sabendo que, no Triângulo Retângulo a seguir, o comprimento do Cateto <em>c</em> é de 2 metros e o ângulo formado pelo encontro do Cateto <em>c</em> com a Hipotenusa <em>H</em> é de 60º (vértice <em>B</em>), calcule o comprimento de todos os outros elementos discriminados no Triângulo Retângulo, ou seja, do Cateto <em>c</em>, da Hipotenusa <em>H</em>, da Altura Relativa à Hipotenusa <em>h</em> e das Projeções dos Catetos <em>a</em> e <em>n</em>.</p>
			 	<br/>
			 	<img id="imgTrianguloRetanguloTarefa" src="triangulo_retangulo_tarefa.png" class="img-responsive center-block img-thumbnail">
			 	<div class="text-center"><strong>Figura 5:</strong> Triângulo Retângulo para a realização da Tarefa</div>
			 	<br/>			 	
			</div>
		</div>			

	</div>

</body>

</html>